@font-face {
    font-family: "Raleway";
    src: url("./fonts/Raleway/Raleway-VariableFont_wght.ttf");
}
@font-face {
    font-family: "Roboto Slab";
    src: url("./fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf");
}

:root {
    --color-main-background: #34005b;
    --color-main-slide-background: #fff;
    --color-main-color: #fff;
    --color-main-slide-color: #000;
    --color-main-after: #ff02a7;
    --color-main-color-h2: #6441db;
    --color-main-color-h3: #34005b;
}

html, body {
    margin: 0;
    padding: 0;
    background: var( --color-main-slide-background );
    color: var( --color-main-slide-color );
    font-family: "Raleway", sans-serif;
    font-size: 20pt;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: background-color 0.5s;
    line-height: 1.5em;
}

body.on-type-main-title {
    background: var( --color-main-background );
    color: var( --color-main-color );
}

#wanaprez {
    width: 100%;
    height: 100%;
}

.slide {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    width: 1024px;
    height: 768px;
    left: 50%;
    top: 50%;
    margin-left: calc(-1024px / 2);
    margin-top: calc(-768px / 2);
    padding: 50px;
    pointer-events: none;
    opacity: 0;
    transition: transform 0.5s, opacity 0.5s;
}

.slide-flow-prev {
    transform: translate(0, -768px);
}

.slide-flow-current {
    opacity: 1;
    pointer-events: all;
}

.slide-flow-next {
    transform: translate(0, 768px);
}

.slide-type-main-title,
.slide-type-infill-title {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Slab", sans-serif;
}

h2:after,
h3:after {
    content: " ";
    background-color: var( --color-main-after );
    display: block;
    width: 100px;
    height: 10px;
}

h1 {
    font-size: 300%;
    line-height: 1.5em;
}

h2 {
    font-size: 200%;
    color: var( --color-main-color-h2 );
    line-height: 1.5em;
}

h2:after {
    margin: 50px auto;
}

h3 {
    font-size: 150%;
    color: var( --color-main-color-h3 );
    line-height: 1.5em;
}

h3:after {
    margin: 50px 0 0 0;
}

a, a:visited {
    color: inherit;
    opacity: 75%;
}

a::after {
    content: " 🔗";
    vertical-align: super;
    font-size: 30%;
}

pre {
    font-size: 80%;
    border: silver solid 4px;
    line-height: 1.5em;
    text-align: left;
}

img {
    max-width: 100%;
    display: block;
    margin: auto;
    border: #222 solid 1px;
}

p > img {
    box-shadow: var( --color-main-slide-color ) 2px 2px 5px;
    border-radius: 5px;
}

blockquote > p:first-child {
    font-weight: bold;
    color: var( --color-main-after );
}

blockquote {
    border-left: gray solid 5px;
    padding-left: 2rem;
    font-style: italic;
    border-radius: 2rem;
}

/** HOME **/

#wanaprez-home {
    max-width: 800px;
    padding: 0 20px;
    margin: 0 auto;
    font-size: 16pt;
    box-sizing: border-box;
    overflow: scroll;
    height: 100%;
}

#wanaprez-home h1 {
    color: var( --color-main-color-h2 );
    text-align: center;
}

#wanaprez-home h1:after {
    content: " ";
    background-color: var( --color-main-after );
    display: block;
    width: 100px;
    height: 10px;
    margin: 50px auto;
}

#wanaprez-home h2 {
    color: var( --color-main-color-h3 );
    font-size: 150%;
    clear: both;
}

#wanaprez-home h2:after {
    display: none;
}

#wanaprez-home input,
#wanaprez-home textarea {
    border: silver solid 2px;
    line-height: 1.3em;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
}

#wanaprez-home button {
    font-family: "Cantarell", sans-serif;
    font-size: 12pt;
    /* display: inline-block; */
    height: 40px;
    line-height: 30px;
    border-radius: 20px;
    padding: 5px 20px;
    margin: 0;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border: transparent solid 1px;
    transition: background 300ms, border 300ms, color 300ms;
    box-sizing: border-box;
    border-color: transparent;
    background: var( --color-main-after );
    color: var( --color-main-slide-background );
    outline: none;
    min-width: 100px;
    float: right;
}

#wanaprez-home button:hover {
    border-color: var( --color-main-after );
    background: transparent;
    color: var( --color-main-after );
}
